body{
  margin: 0;
}

.container{
  width: 50%;
  margin: auto;
}

header{
  width: 100%;
  height: 60px;
  background-image: url('/img/pattern.png');
  background-color: cornflowerblue;
  background-size: 41%;
}

main{
  width: 100%;
}

header img{
  width: 30%;
  height: 50%;
  margin-top: 6%;
}

main h1{
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 30px;
}

main h6 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: gray;
  margin-top: 0;
  margin-bottom: 0;
}

main h6 span{
  color: cornflowerblue;
}

.menu img{
  width: 48%;
}

main p{
  margin: 0;
  font-size: 11px;
}

table{
  border: 2px solid black;
}